* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* MARK: Header Component */

.header {
  background-color: #12372A;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  @media (width >= 768px) {
    padding: 10px 50px;
  }
}

.header p {
  color: white;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item.contact {
  gap: 30px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-phone, .header-item-mail {
  display: flex;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }

  @media (width >= 768px) {
    gap: 10px;
  }
}

.header-item-mail {
  
  @media (width >= 768px) {
    margin-left: 20px;
  }
}

.header-item-phone-number, .header-item-mail-address {
  display: none;

  @media (width >= 768px) {
    display: inline;
  }
}

.header-item.socials {
  gap: 10px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1C30C;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* MARK: Nav Component */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  @media (width >= 768px) {
    padding: 30px 50px;
  }
}

.nav-item.logo {
  display: none;

  @media (width >= 960px) {
    display: block;
  }
}

.material-icons-outlined.menu-icon {
  font-size: 32px;
  cursor: pointer;

  @media (width >= 768px) {
    display: none;
  }
}

.nav-item.links {
  display: none;

  @media (width >= 768px) {
    display: block;
  }
}

.nav-item.links a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px 15px;

  &:hover {
    color: #F1C30C;
  }
}

.nav-item.button {
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1C30C;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
  }
}