* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary: #12372A;
  --color-secondary: #F1C30C;
}

.primary-button {
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--font-urbanist);
    font-weight: 400;
    font-size: 0.875rem;
  }

  &:hover {
    background-color: var(--color-primary);
  }

  &:hover a {
    color: white;
  }
}

.secondary-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--font-urbanist);
    font-weight: 400;
    font-size: 0.875rem;
  }

  &:hover {
    background-color: var(--color-primary);
  }

  &:hover a {
    color: white;
  }
}

/* MARK: Header Component */

.header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  @media (width >= 768px) {
    padding: 10px 50px;
  }
}

.header p {
  color: white;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item.contact {
  gap: 30px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-phone, .header-item-mail {
  display: flex;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }

  @media (width >= 768px) {
    gap: 10px;
  }
}

.header-item-mail {
  
  @media (width >= 768px) {
    margin-left: 20px;
  }
}

.header-item-phone-number, .header-item-mail-address {
  display: none;

  @media (width >= 768px) {
    display: inline;
  }
}

.header-item.socials {
  gap: 10px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* MARK: Nav Component */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  @media (width >= 768px) {
    padding: 20px 50px;
  }
}

.nav-item.logo {
  display: none;

  @media (width >= 960px) {
    display: block;
  }
}

.material-icons-outlined.menu-icon {
  font-size: 32px;
  cursor: pointer;

  @media (width >= 768px) {
    display: none;
  }
}

.nav-item.links {
  display: none;

  @media (width >= 768px) {
    display: block;
  }
}

.nav-item.links a {
  font-family: var(--font-urbanist);
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px 15px;

  &:hover {
    color: var(--color-secondary);
  }
}

/* MARK: Hero Component */

.hero {
  max-width: 1920px;
  width: 100%;
  background-color: rgb(18, 55, 42, 0.8);
}

.hero-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 100px 20px;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media (width >= 768px) {
    padding: 180px 20px 180px 20px;
  }

  @media (width >= 1240px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 180px 20px 0 20px;
  }
}

.hero-content {
  max-width: 730px;
  width: 100%;

  h1, p {
    color: #F1FFEA;
  }

  @media (width >= 1240px) {
    padding-bottom: 160px;
  }
}

.hero-subtitle {
  color: var(--color-secondary);
  font-family: var(--font-urbanist);
  font-weight: 700;
  font-size: 1rem;

  @media (width >= 1024px) {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 2rem;

  @media (width >= 480px) {
    font-weight: 700;
    font-size: 3rem;
  }

  @media (width >= 1024px) {
    font-weight: 700;
    font-size: 5rem;
  }
}

.hero-text {
  margin: 20px 0 30px 0;
}

.hero-image {
  display: none;

    @media (width >= 1240px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-image img {
  width: 100%;
  max-height: 530px;
  object-fit: contain;
}

/* MARK: About Us Component */

.about-us {
  max-width: 1920px;
  width: 100%;
}

.about-us-inner {
  max-width: 685px;
  width: 100%;
  margin: 0 auto;
  padding: 95px 20px;

  @media (width >= 1346px) {
    max-width: 1370px;
    width: 100%;
  }
}

.about-us-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 90px;

  @media (width >= 1346px) {
    flex-direction: row;
    gap: 30px;
  }
}

.about-us-item.image-stats {
  display: none;

  @media (width >= 768px) {
    display: block;
    position: relative;
  }
}

.about-us-item-stats {
  max-width: 615px;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  background-color: var(--color-primary);
  border-radius: 10px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);

  h2 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 800;
    font-size: 3.5rem;
  }

  p {
    color: white;
  }

  @media (width >= 1346px) {
    left: 48%;
    bottom: -20px;
  }
}

.about-us-item-text {
  
  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;

    @media (width >= 480px) {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  p {
    margin-bottom: 10px;
  }
}

.about-us-item-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.about-us-item-card {
  max-width: 320px;
  width: 100%;
  border: 2px solid #ECECEC;
  border-radius: 10px;
  padding: 25px 20px;

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  &:hover {
    border-color: var(--color-secondary);
  }
}

.about-us-item-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;

  @media (width >= 520px) {
    flex-direction: row;
    gap: 90px;
  }

  @media (width >= 1326px) {
    justify-content: center;
  }
}

.about-us-item-info-contact {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-us-item-info-contact-phone {

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1rem;

    @media (width >= 768px) {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  h6 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 0.875rem;

    @media (width >= 768px) {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

/* MARK: Brands Component */

.brands {
  max-width: 1920px;
  width: 100%;
  margin-top: 10px;

  @media (width >= 520px) {
    margin-top: 30px;
  }

  @media (width >= 1346px) {
    margin-top: 95px;
  }
}

.brands-inner {
  width: 100%;

  img {
    width: 100%;
    object-fit: contain;
  }
}