* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary: #12372A;
  --color-secondary: #F1C30C;
  --color-third: #FAF8EC;
}

p {

  @media (width <= 479px) {
    font-size: 0.875rem;
  }
}

.primary-button {
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 0.875rem;
  }

  &:hover {
    background-color: var(--color-primary);
  }

  &:hover a {
    color: white;
  }
}

.secondary-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--font-urbanist);
    font-weight: 400;
    font-size: 0.875rem;
  }

  &:hover {
    background-color: var(--color-primary);
  }

  &:hover a {
    color: white;
  }
}

.third-button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--font-urbanist);
    font-weight: 400;
    font-size: 0.875rem;
  }

  &:hover {
    border: 2px solid #F1FFEA;
  }
}

/* MARK: Header Component */

.header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  @media (width >= 768px) {
    padding: 10px 50px;
  }
}

.header p {
  color: white;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item.contact {
  gap: 30px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-phone, .header-item-mail {
  display: flex;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }

  @media (width >= 768px) {
    gap: 10px;
  }
}

.header-item-mail {
  
  @media (width >= 768px) {
    margin-left: 20px;
  }
}

.header-item-phone-number, .header-item-mail-address {
  display: none;

  @media (width >= 768px) {
    display: inline;
  }
}

.header-item.socials {
  gap: 10px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.header-item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* MARK: Nav Component */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  @media (width >= 768px) {
    padding: 20px 50px;
  }
}

.nav-item.logo {
  display: none;

  @media (width >= 960px) {
    display: block;
  }
}

.material-icons-outlined.menu-icon {
  font-size: 32px;
  cursor: pointer;

  @media (width >= 768px) {
    display: none;
  }
}

.nav-item.links {
  display: none;

  @media (width >= 768px) {
    display: block;
  }
}

.nav-item.links a {
  font-family: var(--font-urbanist);
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px 15px;

  &:hover {
    color: var(--color-secondary);
  }
}

/* MARK: Hero Component */

.hero {
  max-width: 1920px;
  width: 100%;
  background-color: rgb(18, 55, 42, 0.8);
}

.hero-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 100px 20px;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media (width >= 768px) {
    padding: 180px 20px 180px 20px;
  }

  @media (width >= 1240px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 180px 20px 0 20px;
  }
}

.hero-content {
  max-width: 730px;
  width: 100%;

  h1, p {
    color: #F1FFEA;
  }

  @media (width >= 1240px) {
    padding-bottom: 160px;
  }
}

.hero-subtitle {
  color: var(--color-secondary);
  font-family: var(--font-urbanist);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 20px;

  @media (width >= 1024px) {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 2rem;

  @media (width >= 480px) {
    font-weight: 700;
    font-size: 3rem;
  }

  @media (width >= 1024px) {
    font-weight: 700;
    font-size: 5rem;
  }
}

.hero-text {
  margin: 20px 0 30px 0;
}

.hero-image {
  display: none;

    @media (width >= 1240px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-image img {
  width: 100%;
  max-height: 530px;
  object-fit: contain;
}

/* MARK: About Us Component */

.about-us {
  max-width: 1920px;
  width: 100%;
}

.about-us-inner {
  max-width: 685px;
  width: 100%;
  margin: 0 auto;
  padding: 95px 20px;

  @media (width >= 1346px) {
    max-width: 1370px;
    width: 100%;
  }
}

.about-us-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 90px;

  @media (width >= 1346px) {
    flex-direction: row;
    gap: 30px;
  }
}

.about-us-item.image-stats {
  display: none;

  @media (width >= 768px) {
    display: block;
    position: relative;
  }
}

.about-us-item-stats {
  max-width: 615px;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  background-color: var(--color-primary);
  border-radius: 10px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);

  h2 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 800;
    font-size: 3.5rem;
  }

  p {
    color: white;
  }

  @media (width >= 1346px) {
    left: 48%;
    bottom: -20px;
  }
}

.about-us-item-text {
  
  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;

    @media (width >= 480px) {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  p {
    margin-bottom: 10px;
  }
}

.about-us-item-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  cursor: pointer;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.about-us-item-card {
  max-width: 320px;
  width: 100%;
  border: 2px solid #ECECEC;
  border-radius: 10px;
  padding: 25px 20px;

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  &:hover {
    border-color: var(--color-secondary);
  }
}

.about-us-item-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;

  @media (width >= 520px) {
    flex-direction: row;
    gap: 90px;
  }

  @media (width >= 1326px) {
    justify-content: center;
  }
}

.about-us-item-info-contact {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-us-item-info-contact-phone {

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1rem;

    @media (width >= 768px) {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  h6 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 0.875rem;

    @media (width >= 768px) {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

/* MARK: Brands Component */

.brands {
  max-width: 1920px;
  width: 100%;
  margin-top: 10px;
  background-color: #FAF8EC;

  @media (width >= 520px) {
    margin-top: 30px;
  }

  @media (width >= 1346px) {
    margin-top: 95px;
  }
}

.brands-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 30px 20px;

  @media (width >= 520px) {
    gap: 30px;
    padding: 40px 20px;
  }

  @media (width >= 768px) {
    gap: 60px;
  }
}

.brands-item img {
  width: 100%;
  object-fit: contain;
}

/* MARK: Our Services Component */

.our-services {
  max-width: 1920px;
  width: 100%;
  margin-top: 95px;
}

.our-services-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.our-services-subtitle {
  max-width: 685px;
  width: 100%;
  margin: 0 auto;

  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  @media (width >= 1346px) {
    max-width: none;
  }
}

.our-services-title-and-text {
  max-width: 685px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;

  @media (width >= 1346px) {
    max-width: none;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    margin-bottom: 30px;
  }
}

.our-services-title {
  flex: 1;
}

.our-services-text {
  flex: 1;
}

.our-services-title h3 {
  font-family: var(--font-urbanist);
  font-weight: 700;
  font-size: 2rem;

  @media (width >= 480px) {
    font-weight: 700;
    font-size: 3rem;
  }
}

.our-services-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  margin-bottom: 95px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px 30px;
  }

  @media (width >= 1346px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px 30px;
  }
}

.our-services-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  

  @media (width >= 768px) {
    place-self: end;
  }
}

.our-services-item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  place-self: center;

  @media (width >= 768px) {
    grid-column: 2;
    grid-row: 1;
    place-self: auto;
  }

  @media (width >= 1346px) {
    grid-column: 3;
    grid-row: 1;
  }
}

.our-services-item:nth-child(3) {
  grid-column: 1;
  grid-row: 5;
  place-self: center;

  @media (width >= 768px) {
    grid-column: 1;
    grid-row: 4;
    place-self: end;
  }

  @media (width >= 1346px) {
    grid-column: 1;
    grid-row: 2;
  }
}

.our-services-item:nth-child(4) {
  grid-column: 1;
  grid-row: 6;
  place-self: center;

  @media (width >= 768px) {
    grid-column: 2;
    grid-row: 4;
    place-self: start;
  }

  @media (width >= 1346px) {
    grid-column: 3;
    grid-row: 2;  
  }
}

.our-services-item-image {
  /* grid-column: 1;
  grid-row: 3 / span 2;
  place-self: center; */
  display: none;

  img {
    height: 100%;
    object-fit: contain;
  }

  @media (width >= 768px) {
    display: block;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    place-self: center;
  }

  @media (width >= 1346px) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

.our-services-item {
  max-width: 390px;
  width: 100%;
  height: 155px;
  margin-bottom: 20px;
  border: 2px solid #ECECEC;
  border-radius: 10px;
  padding: 25px 20px;
  cursor: pointer;

  &:hover {
    border-color: var(--color-secondary);
  }

  @media (width >= 768px) {
    margin-bottom: 0;
  }
}

.our-services-item h4 {
  font-family: var(--font-urbanist);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* MARK: Testimonials Component */

.testimonials {
  max-width: 1920px;
  width: 100%;
  height: 670px;
}

.testimonials-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 20px 0 20px;
}

.testimonials-content {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  
  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;

    @media (width >= 480px) {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  p {
    color: white;
  }
}

.testimonials-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 90px;

  @media (width >= 1346px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 440px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;

  @media (width >= 768px) {
    padding: 30px 30px 40px 30px;
  }
}

.testimonials-card:nth-child(3) {
  display: none;

  @media (width >= 1346px) {
    display: block;
  }
}

.testimonials-card:nth-child(2) {
  display: none;

  @media (width >= 950px) {
    display: block;
  }
}

.testimonials-card-text {
  margin: 30px 0;

  @media (width >= 768px) {
    margin: 40px 0;
  }
}

.testimonials-card-info {
  display: flex;
}

.testimonials-card-info-figure {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.testimonials-card-info-name-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  h6 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
}

.testimonials-card-info-image {
  margin-left: auto;
  align-content: end;

  img {
    object-fit: contain;
  }
}

/* MARK: Why Choose Us Component */

.why-choose-us {
  max-width: 1920px;
  width: 100%;
  background-color: var(--color-third);
}

.why-choose-us-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}

.why-choose-us-subtitle {
  display: flex;
  justify-content: center;

  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  @media (width >= 1320px) {
    justify-content: flex-start;
  }
}

.why-choose-us-title-and-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (width >= 1320px) {
    flex-direction: row;
  }
}

.why-choose-us-title {
  display: flex;
  justify-content: center;
  flex: 1;

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 50px;

  @media (width >= 480px) {
    font-weight: 700;
    font-size: 3rem;
  }

  @media (width >= 1320px) {
    margin-bottom: 0;
  }
  }
}

.why-choose-us-text {
  display: none;

  @media (width >= 1320px) {
    display: block;
    flex: 1;
    padding-top: 20px;
  }
}

.why-choose-us-content {
  display: flex;
  justify-self: center;

  @media (width >= 1320px) {
    justify-self: auto;
  }
}

.why-choose-us-content-items {
  flex: 1;
}

.why-choose-us-content-item {
  display: flex;
  align-items: flex-start;
  max-width: 630px;
  margin-bottom: 20px;
}

.why-choose-us-content-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  margin-right: 25px;

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}

.why-choose-us-content-item-info {

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.why-choose-us-content-image {
  display: none;

  @media (width >= 1320px) {
    display: block;
    flex: 1;
  }
}

/* MARK: Pricing Plan Component */

.pricing-plan {
  max-width: 1920px;
  width: 100%;
}

.pricing-plan-inner {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}

.pricing-plan-subtitle-and-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px auto;
  text-align: center;
  max-width: 560px;
  width: 100%;
  gap: 30px;

  @media (width >= 1370px) {
    margin: 0 0 30px 0;
    text-align: left;
  }

  h4 {
    color: var(--color-secondary);
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
  }

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 2rem;

    @media (width >= 480px) {
      font-weight: 700;
      font-size: 3rem;
    }
  }
}

.pricing-plan-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @media (width >= 1370px) {
    display: flex;
    flex-direction: row;
  }
}

.pricing-plan-card:nth-child(1), .pricing-plan-card:nth-child(3) {
  
  @media (width >= 768px) {
    place-self: end;
  }
}

.pricing-plan-card {
  max-width: 320px;
  width: 100%;
  border: 2px solid #ECECEC;
  border-radius: 10px;
  padding: 40px 35px;
  background-color: #F1FFEA;

  &:hover {
    background-color: var(--color-primary);

    h5, h6, p {
      color: white;
    }
  }
}

.pricing-plan-card:hover .pricing-plan-card-feature-list {
  background-color: var(--color-secondary);
}

.pricing-plan-card:hover .pricing-plan-card-feature-list-icon {
  color: var(--color-primary);
}

.pricing-plan-card-unit {
  display: flex;
  align-items: center;
  justify-content: center;

  h5 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}

.pricing-plan-card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pricing-plan-card-price-icon {
  position: absolute;
  top: 25px;
  left: 20px;
}

.pricing-plan-card-price-number {
  margin: 20px 0 30px 0;
  padding-left: 10px;

  h3 {
    font-family: var(--font-urbanist);
    font-weight: 700;
    font-size: 3.25rem;
    color: var(--color-secondary);
  }
}

.pricing-plan-card-price-month {

  h6 {
    font-family: var(--font-urbanist);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-primary);
  }
}

.pricing-plan-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-primary);
}

.pricing-plan-card-breakline {
  margin: 30px 0;
  color: var(--color-primary);
}

.pricing-plan-card-features {
  display: grid;
  gap: 10px;
}

.pricing-plan-card-feature {
  display: flex;
}

.pricing-plan-card-feature:nth-child(5) {
  margin-bottom: 20px;
}

.pricing-plan-card-feature-list {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.pricing-plan-card-feature-list-icon {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.pricing-plan-card-feature-list-text {
  color: var(--color-primary);
}

.pricing-plan-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}